
{{> partials/header title="Contact - Portfolio Lucas Heintz" page="contact"}}

<div class="container">
    <div class="row justify-content-center contact">
        <div col-auto>
            <h1>Contactez-moi !</h1>
            <a href="mailto:lucas.heintz@gmail.com">lucas.heintz@gmail.com</a>
            <a href="tel:+33-06-04-06-88-21">+33.6.04.06.88.21</a>
        </div>
    </div>
</div>

{{> partials/footer  script ="app.bundle.js"}}