{{> partials/header title ="Distant Love - Portfolio lucas Heintz" page="projet"}}

<div class="projet-img">
    <img src="./assets/img/distant.gif" alt="WooCommerce">
</div>
<div class="container projet-content">
    <div class="row">
        <div class="col">
            <h1>Distant love</h1>
            <a href="video/">Accéder au site</a>
            <p>
                Ce projet est un projet de groupe dans lequel nous devions créer un eCommerce de A à Z en utilisant WooCommerce sur Wordpress.
            </p>
            <p>
                Je me suis personnellement occupé du design et de l'intégration de la page d'accueil et des pages Concept et Application.
            </p>
        </div>
    </div>

</div>

{{> partials/next-prev next="graine" prev="video"}}
{{> partials/footer}}