{{> partials/header title ="Association GRAINE - Portfolio lucas Heintz" page="projet"}}

<div class="projet-img">
    <img src="./assets/img/graine.gif" alt="Association GRAINE">
</div>
<div class="container projet-content">
    <div class="row">
        <div class="col">
            <h1>Association GRAINE</h1>
            <a href="graine/" class="button">Accéder au site</a>
            <p>
                Ce site a été réalisé sur Wordpress dans le cadre d'un projet en groupe avec commanditaire réel, ayant pour but de présenter une association à l'aide de vidéos tutoriels.
            </p>
            <p>
                Je me suis occupé du site en utilisant un theme naked pour avoir le plus de liberté possible.
            </p>
        </div>
    </div>

</div>

{{> partials/next-prev next="oldcv" prev="distant"}}
{{> partials/footer}}