{{> partials/header title ="Portfolio lucas Heintz"}}

<h1 class="landing-title"><span>Developpeur<br>
    <object id="web-s" data="./assets/img/web-s.svg" type="image/svg+xml"></object>
    <object id="web-m" data="./assets/img/web-m.svg" type="image/svg+xml"></object>
    <object id="web-l" data="./assets/img/web-l.svg" type="image/svg+xml"></object>
</span></h1>

<section id="projets" class="container">
    <h2>Réalisations</h2>
    <ul class="projets-list">
        <li class="projets-item"><a href="">Application météo</a></li>
        <li class="projets-item"><a href="">WooCommerce</a></li>
        <li class="projets-item"><a href="">Playlist vidéo</a></li>
        <li class="projets-item"><a href="">Wordpress</a></li>
        <li class="projets-item"><a href="">Je sais pas</a></li>
    </ul>
</section>




{{> partials/footer script ="app.bundle.js"}}
