{{> partials/header title ="Portfolio lucas Heintz" page="home"}}

<h1 class="landing-title"><span>Developpeur<br>
    <object id="web-s" data="./assets/img/web-s.svg" type="image/svg+xml"></object>
    <object id="web-m" data="./assets/img/web-m.svg" type="image/svg+xml"></object>
    <object id="web-l" data="./assets/img/web-l.svg" type="image/svg+xml"></object>
</span></h1>

<section id="projets" class="container">
    <h2>Réalisations</h2>
    <ol class="projets-list">
        <li class="projets-item">
            <div class="flex">
                <p><a href="" id="meteo">Appli météo</a></p>
                <ul class="tags"><li>JavaScript</li><li>GSAP</li><li>Weather API</li></ul>
            </div>
        </li>
        <li class="projets-item">
            <div class="flex">
                <p><a href="" id="video">Playlist vidéo</a></p>
                <ul class="tags">
                    <li>Javascript</li>
                    <li>GSAP</li>
                    <li>Video.js</li>
                </ul>
            </div>
        </li>
        <li class="projets-item">
           <div class="flex">
               <p><a href="" id="distant">Distant Love</a></p>
               <ul class="tags">
                   <li>WooCommerce</li>
                   <li>Wordpress</li>
               </ul>
           </div>
        </li>
        <li class="projets-item">
            <div class="flex">
                <p><a href="" id="graine">Association GRAINE</a></p>
                <ul class="tags">
                    <li>Wordpress</li>
                </ul>
            </div>
        </li>
    </ol>
</section>

<section id="envt" class="container">
    <h2>Mon environnement</h2>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</section>




{{> partials/footer script ="app.bundle.js"}}
