{{> partials/header title ="Portfolio lucas Heintz"}}

<h1 class="landing-title"><span>Developpeur<br>
    <object id="web-s" data="./assets/img/web-s.svg" type="image/svg+xml"></object>
    <object id="web-m" data="./assets/img/web-m.svg" type="image/svg+xml"></object>
    <object id="web-l" data="./assets/img/web-l.svg" type="image/svg+xml"></object>
</span></h1>




{{> partials/footer script ="app.bundle.js"}}
