{{> partials/header title ="Ancien Portfolio - Portfolio lucas Heintz" page="projet"}}

<div class="projet-img">
    <img src="./assets/img/oldcv.gif" alt="video">
</div>
<div class="container projet-content">
    <div class="row">
        <div class="col">
            <h1>Ancien Portfolio</h1>
            <a href="ancien-portfolio/">Accéder au site</a>
            <p>
                Cette Application a été réalisé à la fin de cours sur l'utilisation d'API, et à été construite avec l'API Yahoo Weather.
                Les données ont été récuppérées en JSON et traitées grâces à la fonction getJSON de jQuery.
            </p>
            <p>
                Les animations sont réalisés avec GSAP, notamment TimelineLite pour la petite boule sauteuse de chargement, TweenLite pour le reste.
            </p>
            <p>
                Le point faible de cette réalisation est l'utilisation de jQuery qui n'était nécessaire, mais qui simplifiait tout de même l'apprentissage.
            </p>
        </div>
    </div>

</div>

{{> partials/next-prev next="portfolio" prev="graine"}}
{{> partials/footer}}