{{> partials/header title ="Playlist vidéo - Portfolio lucas Heintz" page="projet"}}

<div class="projet-img">
    <img src="./assets/img/video.gif" alt="video">
</div>
<div class="container projet-content">
    <div class="row">
        <div class="col">
            <h1>Playlist vidéo</h1>
            <a href="playlist/" class="button">Accéder au site</a>
            <p>
                Ce projet avait pour but de présenter un sujet de notre choix en mettant en forme une playlist video.
            </p>
            <p>
                La librairie Video.js est ici utilisée pour customiser le player, avec GSAP pour les animations.
            </p>
        </div>
    </div>

</div>

{{> partials/next-prev next="distant" prev="meteo"}}
{{> partials/footer}}