            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            {{#if script}}
            <script type="text/javascript" src="{{ script }}"></script>
            {{/if}}
        </div>
    </div>
</main>

</body>
</html>