<div class="next-prev container-fluid">
    <div class="row">
        <div class="col">
            <a id="prev" href="{{prev}}.html">Projet précédent</a>
        </div>
        <div class="col">
            <a id="next" href="{{next}}.html">Projet suivant</a>
        </div>
    </div>
</div>