// Media queries

$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@function setLongShadow($length) {
  $value: 0 0 rgb(50, 20, 150);

  @for $i from 1 through $length {
    $value: #{$value}, #{$i}px #{$i}px rgb($i*4, 20, 150);
  }

  @return $value;
}

@mixin longShadow($length) {
  text-shadow: setLongShadow($length);
}

$bgLeft: #FFF;

$bgRight: #F1F1F1;

//$dark: #393a2e0;

$dark: #000;

$light: #D4D4D4;

$mainFont: 'Montserrat', sans-serif;

$secondFont: "Work Sans", sans-serif;
