@import 'mixins';

.projet-img {
  height: 100vh;
  width: 100%;
  top: 0;
  position: relative;
  left: 0;
  display: flex;
  img {
    height: calc(100% - 350px);
    max-height: unset;
    max-width: unset;
    margin: 0 auto auto auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    filter: grayscale(0);
  }
}

.projet-content.container {
  max-width: 600px;
  margin-top: -350px;
  h1 {
    font-size: 2em;
    margin-top: 1em;
    @include tablet {
      font-size: 2.75em;
    }
    @include  desktop {
      font-size: 3.5em;
      margin-left: -100px;
    }
  }

  a {
    padding: 1.2em 2em;
    font-family: $mainFont;
    color: $dark;
    background: #fff;
    border-radius: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    float: right;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    &:hover {
      color: $light;
      background: $dark;
    }
  }

  p {
    &:first-of-type {
      padding-top: 50px;
      clear: both;
    }
    font: 400 100% $secondFont;
    padding-bottom: 20px;
    color: #999;
  }
}

.next-prev {
  margin-top: 100px;
  height: 200px;
  background: $dark;
  .row {
    height: 100%;
    .col {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &:last-child {
        justify-content: flex-start;
      }
      a {
        font-family: $mainFont;
        font-weight: 700;
        padding: 1.5em 0;
        color: $dark;
        text-shadow: 0 0 10px rgba(0,0,0,0.4);
        font-size: 0.6em;
        text-decoration: none;
        background: $bgLeft;
        width: 300px;
        text-align: center;
        @include tablet {
          font-size: 1em;
        }
        @include desktop {
          font-size: 1.5em;
        }
      }
    }
  }
}