@import 'mixins';

.projet-img {
  height: calc(100vh - 350px);
  width: 100%;
  top: 0;
  position: relative;
  left: 0;
  display: flex;
  img {
    max-height: 100%;
    max-width: 70%;
    margin: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    filter: grayscale(0);
    transition: none;
  }
}

.projet-content.container {
  max-width: 600px;
  h1 {
    font-size: 2em;
    margin-top: 1em;
    @include tablet {
      font-size: 2.75em;
    }
    @include  desktop {
      font-size: 3.5em;
      margin-left: -100px;
    }
  }

  p {
    &:first-of-type {
      padding-top: 50px;
      clear: both;
    }
    font: 400 100% $secondFont;
    padding-bottom: 20px;
    color: #999;
  }
}

.next-prev {
  margin-top: 100px;
  height: 200px;
  background: $dark;
  .row {
    height: 100%;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        justify-content: flex-end;
        &:last-child {
          justify-content: flex-start;
        }
      }
      @include desktop {
        justify-content: flex-end;
        &:last-child {
          justify-content: flex-start;
        }
      }
      a {
        font-family: $mainFont;
        font-weight: 700;
        padding: 1.5em 0;
        color: $dark;
        font-size: 1em;
        text-decoration: none;
        background: $bgLeft;
        width: 300px;
        text-align: center;
        @include tablet {
          font-size: 1.2em;
        }
        @include desktop {
          font-size: 1.5em;
        }
      }
    }
  }
}