@import url(https://fonts.googleapis.com/css?family=Montserrat:700,900);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.css);

// Styles

$bgLeft: #FFF;

$bgRight: #F1F1F1;

$dark: #393a2e;

$mainFont: 'Montserrat';

// Media queries

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Général

body {
  background: linear-gradient(to right, $bgLeft, $bgRight);
  color: $dark;
}

h1, h2 {
  font-family: $mainFont;
  font-weight: 900;
}

li {
  font-family: $mainFont;
  font-weight: 700;
}

/**************************************************
*                   HEADER                      *
***************************************************/


header {
  display: block;
  width: 80%;
  margin: 2rem auto;
  &:after {
    content:' ';
    display: block;
    clear: both;
  }

  .main-menu {
    ul {
      float: right;
      display: block;
      margin: 1em;
      @include desktop {
        border: 0px;
        border-left: 1px solid $dark;
        border-bottom: 1px solid $dark;
      }

      // Menu Burger

      .burger {
        &.close {
          text-align: center;
          .burger-inner {
            background: rgba(0,0,0,0);
            &:before, &:after {
              top: 0;
              background: $dark;
              width: 25px;
              padding: 0 10px;
              margin-left: 8px;
            }
            &:before {
              transform: rotate(45deg) translateY(50%);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
        @include desktop {
          display: none;
        }
        cursor: pointer;
        width: 60px;
        height: 50px;
        position: relative;
        padding: 0.5rem;
        .burger-inner, .burger-inner:before, .burger-inner:after {
          height: 2px;
          position: absolute;
          background: $dark;
          transition: all 0.5s;
        }
        .burger-inner {
          top: 50%;
          width: 40px;
          &:before {
            content: '';
            display: block;
            width: 25px;
            padding-left: 15px;
            top: -10px
          }
          &:after {
            content: '';
            display: block;
            width: 30px;
            padding-left: 10px;
            top: 10px;
          }
        }
      }
      .menu-item.open {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 3rem));
        width: 200px;
        text-align: center;
        background: white;
        &:nth-child(2) {
          margin-top: 3rem;
        }
        &:last-of-type {
          margin-top: 6rem;
        }
      }

      li {
        &.menu-item {
          display: none;
          @include desktop {
            display: block;
          }
        }
        list-style: none;
        font-size: 1em;
        display: block;
        float: left;
        border: 1px solid $dark;
        @include desktop {
          border: 0;
          border-right: 1px solid $dark;
          border-top: 1px solid $dark;
        }
        a {
          color: inherit;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
          padding: 1em 2em;
        }
      }
    }

  }

}

main {

  h2 {
    float: left;
    display: block;
    font-size: 1.2em;
    padding: 1em 2em;
    border: 1px solid $dark;
    margin-right: 100%;
    @include tablet {
      font-size: 1.7em;
    }
    @include desktop {
      font-size: 2em;
    }
  }

  //titre landing

  .landing-title {
    text-transform: uppercase;
    display: flex;
    text-align: right;
    font-size: 35px;
    padding: 4rem 0;
    span {
      margin: auto;
    }
    @include tablet {
      font-size: 55px;
    }
    @include desktop {
      font-size: 90px;
    }
    #web-s {
      height: 25px;
      @include tablet {
        display: none;
      }
      @include desktop {
        display: none;
      }
    }
    #web-m {
      height: 38px;
      display: none;
      @include tablet {
        display: inline-block;
      }
    }
    #web-l {
      height: 63px;
      display: none;
      @include desktop {
        display: inline-block;
      }
    }
  }

  //Réalisations

  #projets {
    .projets-list {
      .projets-item {
        
      }
    }

  }


}